<div class="single-post-item-wrapper mb-5">
  <div class="single-post-item">
    <div class="single-post-item__top">
      <div class="single-post-item__top__author">
        <strong>{{ post.author_name }}</strong>
      </div>
      <div class="single-post-item__top__datetime">
        {{ date }}
      </div>
    </div>

    <div class="single-post-item__center mt-2">
      <div class="single-post-item__center__content">
        <p>Post Id: {{ post.id }}</p>
        <p>{{ post.content }}</p>
      </div>
    </div>

    <div class="single-post-item__bottom">
      <div class="single-post-item__bottom__likes d-flex align-items-center">
        <fa-icon class="me-1" [icon]="faThumbsUp"></fa-icon>
        {{ post.liked_by.length }}
        <button (click)="likeAPost(post.id, post.liked_by)" class="ms-2">
          {{ post.liked_by.includes((userId | async)) ? 'Zabierz lajka' : 'Daj lajka' }}
        </button>
      </div>
    </div>
  </div>
</div>
